<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/processform}" method="post">
        Enter a date:<br>
        <input type="text" name="day" />
        <br>
        Gender:<br>
        <input type="radio" name="gender" value="male" />Male
        <input type="radio" name="gender" value="female" />Female

        <input type="submit" value="Submit"/>
    </form>

</body>
</html>